/*Estilo del carrito*/
.cart-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  /* Alinea el contenido hacia abajo */
  align-items: center;
  /* Centra horizontalmente */
  text-align: center;
  /* Centra el texto dentro del párrafo */
  padding-bottom: 5rem;
  /* Ajusta el espacio entre el contenido y el borde inferior */
  box-sizing: border-box;
  margin-top: 7%;
  padding: 2rem;
  gap: 2rem;
}

.empty-cart {
  font-size: 2.2rem;
  font-weight: bold;
  color: #5a345f;
  margin-top: 2rem;
}

.total-to-pay {
  font-size: 2.2rem;
  font-weight: bold;
  color: #3e1e42;
  margin-top: 2rem;
}

button {
  display: inline-block;
  padding: 0.5rem 0.6rem;
  border: solid rgb(130, 99, 134);
  color: rgb(89, 66, 92);
  text-decoration: none;
  border-radius: 20px !important;
  margin-top: 1rem;
  font-size: 1.6rem !important;
  font-weight: bolder;
}

button:hover {
  background-color: rgb(89, 66, 92);
  color: whitesmoke;
}