/*Estilo de la sección nosotros*/
#about{
    background: url(../src/assets/images/image1.webp) no-repeat center fixed;
    background-size: cover;
    position: relative;
    z-index: 0; 
    margin: 0;
    height: 100vh;
}
#about .title {
    margin: 2rem auto;
    text-shadow: 2px 2px 4px rgba(45, 32, 48, 0.5);
} 
.description {
    font-family: "Oleo Script", system-ui;
    font-weight: 100;
    font-style: normal;
    color: #3a333e;
    font-size: 2.2rem;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(45, 32, 48, 0.5);
    padding: 1.5rem;
}
